@import './base.css';

/* General Styling */
#app {
  max-width: 1700px;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
}

img {
  width: 100%;
}

input[type=text] {
  border-radius: 30px;
  padding: 15px 25px;
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
}

input[type=text]:focus,
input[type=text]:focus-visible {
  outline: 1px solid #8a8a8a;
}

/* Nav Bar */
.navbar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navbar-logo-wrapper {
  max-width: 150px;
}

/* Game List */
.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px;
}

.game-list-item {
  max-width: 15%;
  list-style: none;
  font-size: 0;
  position: relative;
}

.thumbnail-container {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 10px;
}

.thumbnail-container:hover .overlay {
  opacity: 1;
}

.game-title {
  color: white;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.overlay-icon {
  color: white;
  font-size: 2rem;
  margin: 10px auto;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Game Detail */
.game-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.game-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.game-content div {
  max-width: 800px;
  margin-bottom: 20px;
}

.back-link {
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: rgb(102, 214, 158);
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 1440px) {
  .game-list-item {
    max-width: 18%;
  }

}

@media (max-width: 1024px) {
  .game-list-item {
    max-width: 22%;
  }

  .game-title {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media (max-width: 768px) {
  .game-list-item {
    max-width: 29%;
  }
}

@media (max-width: 425px) {
  .game-list-item {
    max-width: 45%;
  }
}